<%= header %>
<%= pfloScript %>
<script>
PFLO_test.init({
	testAfterOnBeacon: true,
	Continuity: {
		enabled: true
	}
});
</script>
<script src="24-vis.js" type="text/javascript"></script>
<script>
// fire visibility change events
PFLO.visibilityState = function() {
	return "prerender";
};
PFLO.fireEvent("visibility_changed");
PFLO.visibilityState = function() {
	return "visible";
};
PFLO.fireEvent("visibility_changed", {"timeStamp": PFLO.now()});
PFLO.visibilityState = function() {
	return "hidden";
};
PFLO.fireEvent("visibility_changed", {"timeStamp": PFLO.now()});
PFLO.visibilityState = function() {
	return "visible";
};
PFLO.fireEvent("visibility_changed", {"timeStamp": PFLO.now()});
</script>
<%= footer %>
