<%= header %>
<script>
// fake a non-NavigationTiming browser even if it is one
PFLO_test.removeNavigationTimingSupport();

window.lastNav = +(new Date()) - 10000;
window.lastLoad = lastNav + 1000;
window.lastUnload = lastNav + 1000 + 1000;
PFLO_test.setCookie({
	si: "abc123-1234",
	sl: (1).toString(36),
	ss: (lastNav).toString(36),
	tt: (1000).toString(36),
	bcn: "/beacon",
	dm: document.domain,
	ld: (1000).toString(36),
	ul: (2000).toString(36),
	r: PFLO_test.hashString("BAD_REFERRER"),
	z: 1
});
</script>
<%= pfloScript %>
<script src="10-cookie-from-previous-nav-bad-referrer-non-nt.js" type="text/javascript"></script>
<script>
PFLO.session.domain = document.domain;
PFLO_test.init({
	testAfterOnBeacon: true
});
</script>
<%= footer %>
