<%= header %>
<!--
Onload should happen before pflo receives config and no early beacon should get sent
onload -> config -> normal beacon
-->
<script>
window.localStorage.removeItem("_pflo_" + "LOGN");

// Force navigation to TYPE_NAVIGATE
if (window.performance) {
	window.performance.__defineGetter__("navigation", function() {
		return {type: 0, redirectCount: 0};
	});
}
</script>
<%= pfloSnippet %>

<script src="01-config-after-onload.js" type="text/javascript"></script>
<script type="text/javascript">

// simulate delayed config
setTimeout(function() {
	PFLO_test.init({
		testAfterOnBeacon: 1,
		"autorun": true,
		"PageParams": {
			"pageGroups": [
				{
					"type": "Regexp",
					"parameter1": "/pages/",
					"parameter2": "MYPAGEGROUP"
				}
			]
		},
		Early: {
			enabled: true
		}
	});
}, 2000);

</script>
<img src="/delay?delay=10&amp;file=/assets/img.jpg" style="width: 100px" />
<%= footer %>
